@font-face {
  font-family: "yg-jalnan";
  src: url("./fonts/여기어때잘난체.ttf");
}
* {
  font-family: "yg-jalnan";
}

.layout {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-width: 800px;
}

.my-todo-list {
  width: 100%;
}

.header {
  background-color: #fdffab;
  padding: 25px;
  margin-top: 20px;
  color: #9376e0;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-input {
  background-color: #a8d8ea;
  padding: 20px;
  color: #9376e0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title,
.content {
  font-size: 13px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 50px;
  border: none;
  outline: none;
}

.add-btn {
  background-color: #9376e0;
  border-radius: 10px;
  padding: 8px 30px 8px 30px;
  font-size: 15px;
  color: white;
  border: none;
  outline: none;
}

.working {
  background-color: #fdffab;
  padding: 10px 10px 10px 20px;
  font-family: "yg-jalnan";
  color: #9376e0;
  font-size: 25px;
}

.todo-list {
  background-color: #a8d8ea;
  padding: 20px;
  color: #9376e0;
  font-size: 25px;
  display: flex;
  gap: 20px 2%;
  flex-wrap: wrap;
}

.todo {
  width: 252px;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  gap: 20px;
}

.todo-title,
.todo-content {
  margin: 5px;
}
.todo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #9376e0;
}
.todo-content {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  height: 90px;
  font-size: 18px;
  color: #2b2730;
}

.button {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn,
.toggle-btn {
  background-color: #9376e0;
  border-radius: 10px;
  padding: 8px 30px 8px 30px;
  margin-left: 10px;
  font-size: 15px;
  color: white;
  border: none;
  outline: none;
  display: inline-block;
}

.remove-btn:hover {
  background-color: #ff8aae;
}
.toggle-btn:hover {
  background-color: #98ddca;
}

.complete {
  background-color: #fdffab;
  padding: 10px 10px 10px 20px;
  color: #9376e0;
  font-size: 25px;
  display: flex;
}

.done-list {
  background-color: #a8d8ea;
  padding: 20px;
  color: #9376e0;
  font-size: 25px;
  display: flex;
  gap: 20px 2%;
  flex-wrap: wrap;
}

.done {
  width: 250px;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  gap: 20px;
}

.done-title,
.done-content {
  margin: 10px;
}
.done-title {
  font-size: 25px;
  color: #9376e0;
}
.done-content {
  height: 90px;
  font-size: 18px;
  color: #374259;
}
